# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/out_react/urban_front/node_modules
/out_react/urban_front/.pnp
/out_react/urban_front/.pnp.js

# testing
/out_react/urban_front/coverage

# production
/out_react/urban_front/build

# misc
/out_react/urban_front/.DS_Store
/out_react/urban_front/.env.local
/out_react/urban_front/.env.development.local
/out_react/urban_front/.env.test.local
/out_react/urban_front/.env.production.local

/out_react/urban_front/npm-debug.log*
/out_react/urban_front/yarn-debug.log*
/out_react/urban_front/yarn-error.log*
